
.main {
    display:flex ;
    align-items: center;
    
}



.n1 {
    padding-right: 400px;
    font-size: 35px;
    

}

.n2 {
    padding-right: 400px;
    font-size: 35px;
}

.n3 {

    padding-right: 430px;
    font-size: 35px;
}

